#!/usr/bin/make -f
# debian/rules for ubuntu-maintenance

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# See FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1)
# Package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -f system_update *.o
	rm -f system_update.1.gz

override_dh_auto_build:
	dh_auto_build
	# Build man page
	gzip -9 -c system_update.1 > system_update.1.gz

override_dh_auto_install:
	dh_auto_install
	# Create log directory
	install -d debian/ubuntu-maintenance/var/log
